@page "/geschiedenis"

<PageTitle>Mercurius Aalst - Geschiedenis</PageTitle>

<Banner Title="Geschiedenis" />

<div class="d-lg-flex justify-content-center gap-5">
	<TitledSection Title="Tijdlijn">
		<MudTimeline id="tijdlijn-part">
			@foreach (string[] item in _timelineItems)
			{
				<MudTimelineItem Color="Color.Primary" Variant="Variant.Filled" Style="padding: 2rem 0;">

					<ItemOpposite>
						<MudText Color="Color.Primary" Typo="Typo.h5">@item[0]</MudText>
					</ItemOpposite>

					<ItemContent>
						<MudText Color="Color.Primary" Typo="Typo.h6">@item[1]</MudText>
						<MudText Typo="Typo.body1">@item[2]</MudText>
					</ItemContent>
				</MudTimelineItem>
			}
		</MudTimeline>
	</TitledSection>
	<TitledSection Title="Prosenioren">
		<MudTable id="proseniors-part" Style="padding: 0;" Items="_proseniorItems.Reverse()" Elevation="10" Dense Hover Outlined Striped Breakpoint="Breakpoint.None">
			<HeaderContent>
				<MudTh>Jaar</MudTh>
				<MudTh>Naam</MudTh>
				<MudTh>Bijnaam</MudTh>
			</HeaderContent>
			<RowTemplate>
				<MudTd>@context[0]</MudTd>
				<MudTd>@context[1]</MudTd>
				<MudTd>@(context[2] == "" ? "-" : context[2])</MudTd>
			</RowTemplate>

			<PagerContent>
				<MudTablePager HideRowsPerPage />
			</PagerContent>
		</MudTable>
	</TitledSection>
</div>



<style>
	#tijdlijn-part {
		max-width: 600px;
		margin: 0 auto 2rem auto;
		padding: 0 1rem;
	}

	#proseniors-part {
		max-width: 600px;
		margin: 0 auto 2rem auto;
	}

	.mud-timeline-vertical.mud-timeline-position-alternate::before {
		background-color: #444444;
	}

</style>